/* General */
* {
    margin: 0;
}
body {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.45;
    text-rendering: optimizeLegibility;
}
h1 {
    text-align: center;
    font-size: inherit;
}
fieldset {
    font-size: 1em;
    border-radius: var(--border-radius);
    background-color: white;
}
select, input {
    cursor: pointer;
}
select {
    border-radius: var(--border-radius);
    padding: 0.5em 0.75em;
    background-color: white;
}
input[type=radio], input[type=checkbox] {
    margin-right: 0.75em;
}
a {
    color: var(--theme-black);
}
:root {
    --theme-dvrpc: #0078ae;
    --theme-dvrpc-accent: #366478;
    --theme-black: #505a5e;
    --theme-white: #f7f7f7;
    --theme-offwhite: #f2f2f2;

    --padding-half: 5px;
    --padding: 10px;
    --padding-double: 20px;

    --border-radius: 4px;
    --box-shadow: 1px 2px 3px rgba(0,0,0,0.15);
    --box-shadow-nav: 1px 2px 3px rgba(0,0,0,0.3);
    --box-shadow-half: 0.5px 1px 1.5px rgba(0, 0, 0, 0.15);
}
.flex-row {
    display: flex;
    align-items: center;
}
.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex-between {
    justify-content: space-between;
}
.flex-around {
    justify-content: space-around;
}
.flex-end {
    justify-content: flex-end;
}
/* END General */



/* Modal */
.modal-toggle, .close-modal{
    cursor: pointer;
    font-size: inherit;
}
.modal{
    position: fixed;
    display: none;
    z-index: 3;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.3);
}
.modal-content{
    position: relative;
    background: var(--theme-white);
    color: var(--theme-black);
    width: 50em;
    padding: var(--padding-double);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}
.modal-content p, .modal-content span {
    margin-top: 0.25em;
}
.modal-section {
    width: 45em;
    margin: 0 auto;
}
.modal-section h3 {
    color: var(--theme-dvrpc-accent);
}
.close-modal{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 1.5em;
}
.modal-content-subheader {
    text-align: center;
    margin-bottom: 1rem;
    color: var(--theme-dvrpc);
}
.modal-hr {
    margin: var(--padding-double) auto;
    width: 45em;
}
/* END Modal */



/* Navbar */
nav {
    position: relative;
    height: 6vh;
    padding: 0 var(--padding);
    background-color: var(--theme-dvrpc);
    color: var(--theme-white);
    box-shadow: var(--box-shadow-nav);
    z-index: 2;
}
.nav-btn {
    font-size: 1em;
    color: var(--theme-white);
    background: transparent;
    border: none;
    text-decoration: underline;
    padding: 0;
    cursor: pointer;
}
.nav-vr {
    margin: 0 var(--padding);
    font-size: 1.5em;
    font-weight: 200;
}
#dvrpc-logo {
    display: block;
    width: 75px;
}
.project-logo {
    margin-right: var(--padding-half);
}
/* END Navbar */



/* Main Webmap Area */
.main-content-wrapper {
    height: 94vh;
}
#regional-extent-img {
    display: block;
    margin: 0 auto;
    height: 20px;
    width: 20px;
}
.lds-ring {
    display: none;
    position: relative;
    width: 100px;
    height: 100px;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
    z-index: 2;
}
.lds-ring-active {
    display: inline-block;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 80px;
    height: 80px;
    margin: 8px;
    border: 8px solid var(--theme-dvrpc);
    border-radius: 50%;
    border-color: var(--theme-dvrpc) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* END Main Webmap Area */



/* Sidebar */
.sidebar {
    width: 30%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--theme-offwhite);
    color: var(--theme-black);
    box-shadow: var(--box-shadow-half);
    z-index: 1;
}
.sidebar-content {
    padding: var(--padding);
    height: calc(95% - 20px);
    overflow-y: auto;
}
.sidebar-h2 {
    color: var(--theme-dvrpc);
    font-size: 2em;
    text-align: center;
}
.sidebar-h3 {
    color: var(--theme-dvrpc-accent);
    font-size: 1.125em;
    font-weight: 400;
    margin-top: var(--padding-double);
}
.sidebar-h3:first-of-type {
    margin-top: var(--padding);
}
.sidebar-img {
    display: block;
    max-width: 100%;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}
.sidebar-form {
    margin: var(--padding) auto;
    padding: var(--padding-double);
    box-shadow: var(--box-shadow-half);
    border-radius: var(--border-radius);
    background-color: var(--theme-white);
}
.sidebar-fieldset label {
    margin-right: 5px;
}
.label-select {
    margin-bottom: var(--padding);
}
/* END Sidebar */



/* Map */
.map {
    position: relative;
    width: 70%;
    height: 100%;
}
.mapboxgl-popup-content {
    padding: var(--padding-double) var(--padding);
}
.popup-span {
    display: block;
}
.popup-span:not(:last-of-type) {
    border-bottom: 1px dotted var(--theme-black);
}
.legend-container {
    position: absolute;
    top: 10px;
    left: 10px;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    background-color: #fff;
    color: var(--theme-black);
    z-index: 1;
    padding: var(--padding);
}
.legend-title {
    color: var(--theme-dvrpc-accent);
    font-size: 1.125em;
    font-weight: 500;
    text-align: center;
    border-bottom: 1px solid var(--theme-black);
}
.legend-item {
    margin: 10px 0;
    width: max-content;
}
.legend-item:last-child {
    margin-bottom: 0;
}
.legend-icon-line {
    display: block;
    width: 2.5px;
    height: 15px;
    margin-right: 12.5px;
    transform: rotate(90deg);
    /* account for transform */
    margin-left: 7.5px;
}
.legend-icon-circle {
    display: block;
    width: 15px;
    height: 15px;
    margin-right: 9px;
    border-radius: 50%;
}
.legend-text {
    font-size: 1em;
}
.mapboxgl-ctrl-geocoder, .mapboxgl-ctrl-geocoder .suggestions, .mapboxgl-ctrl-group:not(:empty) {
    box-shadow: var(--box-shadow);
}
.mapboxgl-ctrl-geocoder--input {
    cursor: text;
    color: var(--theme-black);
}
/* END Map */



/* Footer */
footer {
    height: calc(5% - 20px);
    width: 100%;
    padding: var(--padding);
    box-shadow: var(--box-shadow);
    overflow-y: auto;
    background-color: var(--theme-white);
    color: var(--theme-black);
}
/* END Footer */